<%- contentFor('body') %>
<div id="onepage">
    <div class="jumbotron" id="home">
        <h1>Saiba quais métodos usar no seu projeto massa</h1>
        <div class="divisor"> </div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut  laoreet dolore magna aliquam erat volutpat.</p>
        <a  id="acesse-guia" href="#">ACESSE O GUIA DE MÉTODOS</a> 
    </div>
    <div class="jumbotron text-center" id="trabalhos">
        <article id="nossos-trabalhos">
            <aside id="bloco1">
                <img src="../images/artigos.png" alt="">
                <h1>Artigos</h1>              
                <p>Lorem ipsum dolor sit amet,
                consectetuer adipiscing elit,
                sed diam nonummy nibh euis
                mod tincidunt ut laoreet dolore
                magna aliquam erat volutpat.</p>
            </aside>
            <aside id="bloco2">
                <img src="../images/produtos.png" alt="">
                <h1>Produtos</h1>
                <p>Lorem ipsum dolor sit amet,
                consectetuer adipiscing elit,
                sed diam nonummy nibh euis
                mod tincidunt ut laoreet dolore
                magna aliquam erat volutpat.</p>
            </aside>
            <aside id="bloco3">
                <img src="../images/projetos.png" alt="">
                <h1>Projetos</h1>
                <p>Lorem ipsum dolor sit amet,
                consectetuer adipiscing elit,
                sed diam nonummy nibh euis
                mod tincidunt ut laoreet dolore
                magna aliquam erat volutpat.</p>
            </aside>
            
        </article>
    </div>
    <div class="jumbotron text-center" id="conheca">
        <h1 class="titulo1">Conheça a Célula</h1>
        <div class="divisor"></div>    
        <div class="container">
            <img src="../images/foto-participantes.png" alt="Foto com os participantes da Célula Multimídia">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis mod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
            <br><br><a id="botton-conhecahistoria" href="#">CONHEÇA NOSSA HISTÓRIA MASSA</a>  
            </p>             
        </div>
    </div>
    <div class="jumbotron text-center" id="faleconosco">
        <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                    <h2>Entre em contato!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <form action="/contact" method="POST">
                          <div class="form-group">
                                <label>Nome</label>
                                <input type="text" name="name" class="form-control">
                          </div>
                          <div class="form-group">
                                <label>Email</label>
                                <input type="text" name="email" class="form-control">
                          </div>
                          <div class="form-group">
                                <label>Sua mensagem</label>
                                <input type="text" name="message" class="form-control">
                          </div>
                          <div class="form-group text-right">
                                <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
                          </div>
                    </form>
              </div>
        </div>
    </div>
</div>